/.quarto/
.Rproj.user
.Rproj.user/B4D3FC2F/
.Rproj.user/B4D3FC2F/
.Rproj.user/B4D3FC2F/
.Rproj.user/B4D3FC2F/
.Rproj.user/B4D3FC2F/
.Rproj.user/shared/notebooks/paths
.Rproj.user/B4D3FC2F/pcs/windowlayoutstate.pper
.Rproj.user/B4D3FC2F/pcs/files-pane.pper
.Rproj.user/B4D3FC2F/pcs/windowlayoutstate.pper
.Rproj.user/B4D3FC2F/pcs/source-pane.pper
.quarto/idx/index.qmd.json
.quarto/idx/new_pages/cleaning.qmd.json
.env
prompt.md
