/*-- scss:defaults --*/
// Base document colors
$font-size-root: 1rem;
$bs-body-font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/*-- scss:rules --*/

// Data table
.dataTables_wrapper {
    position: relative;
    clear: both;
    color: #c3c3c3;
}

// Color for notes
*[style*="color: black"] {
    color: #6d96c0 !important;
}

// Color for tips
*[style*="color: darkgreen"] {
    color: #38c538 !important;
}

.flextable-shadow-host {
    background-color: white !important;
}


/*
a {
    color: #59bea0 !important;
    text-decoration: underline;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid white;
    color: white !important;
}

.nav-link {
    color: #59bea0 !important;
}



.chapter-title {
    color: white;
} 

.menu-text {
    color: white !important;
} 



.sidebar-item-text.sidebar-link.text-start {
  color: white !important;
}

.sidebar-item-container {
    color: white !important;
} 


.sidebar-item-text.sidebar-link.active {
    color: white !important;
}

.sidebar-item.chapter-number {
    color: #59bea0 !important;
} 

.sidebar nav[role=doc-toc] ul>li>a:hover, .sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: white !important;
}

.chapter-number {
    color: #bfbfbf !important;
} 


div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
    color: #f6f6f6 !important;
}


.quarto-title-breadcrumbs .breadcrumb li:last-of-type a {
    color: #f6f6f6 !important;
}
/*
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #59bea0;
    --bs-btn-border-color: #59bea0
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #59bea0;
    --bs-btn-hover-border-color: #59bea0;
    --bs-btn-focus-shadow-rgb: 71, 147, 231;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #59bea0;
    --bs-btn-active-border-color: #59bea0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #59bea0;
    --bs-btn-disabled-border-color: #59bea0;
}

// Code blocks
b, strong {
    font-weight: bolder;
    color: #59bea0;
} 

.alert-info {
    --bs-alert-color: #3d224b !important;
    --bs-alert-bg: #ebddf1 !important;
    --bs-alert-border-color: #d6bbe4 !important;
    --bs-alert-link-color: var(--bs-info-text-emphasis);
}

.alert-info, .alert-info>th, .alert-info>td {
    background-color: #ebddf1 !important;
}

.alert {
    color: #3d224b !important;
}

.alert-link {
    font-weight: 700;
    color: #3d224b !important;
}*/



