name: Create and Update Translation Branches and PRs

# This will run when there is a push to any English language branch
# With the format listed below.
on:
  push:
    branches:
      - 'handbook_v*_en'

jobs:
  create_and_update_translation_branches:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Git
        run: |
          git config --global user.name 'ntluong95'
          git config --global user.email 'ph.ntluong95@gmail.com'

      - name: Install GitHub CLI
        run: |
          sudo apt update
          sudo apt install -y gh

      - name: Create and update language branches and PRs
        run: |
          LANGS=("fr" "es" "vn" "jp" "tr" "pt" "ru")  
          EN_BRANCH="${{ github.ref }}"
          VERSION_SUFFIX="${EN_BRANCH#refs/heads/handbook_}"

          for lang in "${LANGS[@]}"; do
            TRANSLATION_BRANCH="handbook_${VERSION_SUFFIX/_en/_$lang}"
            # Check if the translation branch exists
            if git rev-parse --verify --quiet "${TRANSLATION_BRANCH}"; then
              git checkout "${TRANSLATION_BRANCH}"
              git pull origin "${EN_BRANCH}" --rebase
            else
              git checkout -b "${TRANSLATION_BRANCH}"
              git pull origin "${EN_BRANCH}"
            fi
            git push origin "${TRANSLATION_BRANCH}"

            # Get the PR number for the translation branch
            PR_NUMBER=$(gh pr list --base main --json number --jq ".[] | select(.headRefName == \"$TRANSLATION_BRANCH\") | .number")

            # Add new commits as checkboxes to the PR description
            commits=$(gh api repos/${{ github.repository }}/commits --paginate --jq '.[] | select(.commit.message | startswith("handbook_v")) | .sha')
            checkboxes=""
            for commit in $commits; do
              checkboxes="$checkboxes\n- [ ] [$commit](https://github.com/${{ github.repository }}/commit/$commit)"
            done

            # Mention a user in the PR description
            if [ "$lang" == "es" ]; then
              checkboxes="$checkboxes\n\n@robcrystalornelas, please review."
            fi

            gh api repos/${{ github.repository }}/issues/$PR_NUMBER --method PATCH --field body="$checkboxes"
          done
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}